@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root{
    --cor-primaria: #1A4D2E;
    --cor-secundaria: #FFDE4D;
    --cor-terciaria: #f6f6f6;
    --cor-hover: #E8DFCA;
    --fonte-primaria: 'Montserrat',sans-serif;
    --fonte-secundaria: 'Krona One',sans-serif;
    --tam-fonte-padrao: 1.5rem;
    --tam-fonte-padrao-mobile: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 2% 15%;
    background-color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: var(--tam-fonte-padrao);
    color:var(--cor-primaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: blue;
}

.destaque-titulo {
    color: var(--cor-secundaria);
}   

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao__conteudo__texto {
    font-size: var(--tam-fonte-padrao);
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}


.apresentação__links__titulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: var(--tam-fonte-padrao);

}

.icones-redes{
    color: var(--cor-secundaria);
    font-size: 2rem;
}

.apresentacao__links__botoes {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-secundaria);
    font-size: var(--tam-fonte-padrao);
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links__botoes:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color:var(--cor-secundaria);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: var(--tam-fonte-padrao);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 6% 0% 6% 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .cabecalho__menu__link {
        font-size: var(--tam-fonte-padrao-mobile);
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5% 15%;
    }
    
    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__texto {
        font-size: var(--tam-fonte-padrao-mobile);
    }

    .apresentação__links__titulo{
        font-size: var(--tam-fonte-padrao-mobile);
    }
    .apresentacao__links__botoes{
        font-size: var(--tam-fonte-padrao-mobile);
    }

    .icones-redes{
        font-size: 1rem;
    }

    .rodape{
        font-size: var(--tam-fonte-padrao-mobile);
    }
}